body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.currency{
	width: 80px;
}

.amount{
	width: 160px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

.loading-indicator{
	margin-left:auto;
	margin-right:auto;
	width: 100px;
	height:100px;	
	text-align: center;
	font-size: 2pt;	
	background-image: url('../images/indicator.gif');
}
.loading-indicator .text{
	position: relative;
	top: 42px;
}